
<main role="main">
    <section class="jumbotron text-center" style="height: 220px;">
        <div class="container" style="margin-top: -7%;">
            <h1 class="jumbotron-heading">Police Stations </h1>
            <p class="lead text-muted">This section will show all the Police station from which you can get support and report perpetrators of Gender Based Violences <p>
            <a href="/#!/addpolice" class="btn btn-primary my-2" >Add New Police Station</a>
            <a href="#" class="btn btn-secondary my-2">Add New Region</a>
        </p>
        </div>
    </section>
    <div class="container" style="margin-top: -5%;">
    <div class="card border-dark mb-3" style="max-width: 80rem;">
    <div class="card-body">

        <table id="mytable" class="table table-hover table-responsive" width="100%">
            <thead>
            <tr>
                <th >#</th>
                <th scope="col">Police Station</th>
                <th scope="col">OC/In-charge</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="police in vm.policePosts">
                <td>{{ police.id}}</td>
               <td>{{ police.data.postname}}</td>
                <td>{{police.data.incharge}}</td>
                <td>{{police.data.phone}}</td>
                <td>{{police.data.details}}</td>
                <td>
                <a ng-href="/#!/police/{{ police.data.$id }}" class="btn btn-small btn-warning">Edit</a> </td>
                </td>
                <td>
                    <a ng-click="vm.delete()" class="btn btn-small btn-danger" style="color:white;">Delete</a> </td>
                </td>
            </tr>
            </tbody>
            </table>
           </div>
</div>
    </div>
</main>


<script>
    $(document).ready(function() {
        $('#mytable').DataTables();
    } );
</script>