<!DOCTYPE html>
<html ng-app="hopefr">
<!--[if lt IE 7]>
<html lang="en" ng-app="hopefr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="hopefr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="hopefr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="hopefr" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Hope For Refugees</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-webfont.eot">
    <link rel="stylesheet" href="assets/css/custom.css">

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="assets/css/one-page-wonder.css" rel="stylesheet">

</head>
<body>


<mh-navigation></mh-navigation>


    <div ng-view>

        <div ng-if="vm.message"  class="alert alert-dismissible alert-success" style="max-width: 40rem;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{{ vm.message }}</p>
        </div>
        <div  ng-if="vm.error"  class="alert alert-dismissible alert-danger" style="max-width: 40rem;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{{ vm.error }}</p>
        </div></div>




    <!-- Footer -->
    <footer class="py-2 bg-danger footer" >
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Hope For Refugees 2018</p>
        </div>
        <!-- /.container -->
    </footer>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="home/HomeController.js"></script>
<script src="login/login-controller.js"></script>
<script src="directives/navigation-directive/navigation-directive.js"></script>
<script src="assets/js/bootstrap.min.js.map"></script>
<script src="error/error-controller.js"></script>
<script src="about/about-controller.js"></script>
<script src="dashboard/DashboardController.js"></script>
<script src="services/ServicesController.js"></script>
<script src="police/PoliceController.js"></script>
<script src="post/PostController.js"></script>
<script src="assets/js/vendor/anchor.min.js"></script>
<script src="assets/js/vendor/clipboard.min.js"></script>
<script src="assets/js/vendor/holder.min.js"></script>
<script src="assets/js/vendor/jquery-slim.min.js"></script>
<script src="assets/js/vendor/popper.min.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/firebase/firebase-app.js"></script>
<script src="bower_components/firebase/firebase-database.js"></script>
<script src="bower_components/firebase/firebase-auth.js"></script>
<script src="bower_components/firebase/firebase-storage.js"></script>
<script src="healthcenters/HealthCenterController.js"></script>
<script src="firebasecred.js"></script>
<script src="auth/auth-factory.js"></script>
<script src="auth/auth-interceptor.js"></script>
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</body>
</html>
