<div class="container" style="padding-left: 20%;">


    <div ng-if="vm.message" class="alert alert-dismissible alert-success" style="max-width: 40rem;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{ vm.message }}</p>
    </div>
    <div ng-if="vm.error" class="alert alert-dismissible alert-danger" style="max-width: 40rem;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{ vm.error }}</p>
    </div>
    <h3>Edit Health center: {{ vm.orgname}} </h3>

    <div ng-hide="vm.message" class="card border-primary " style="max-width: 60rem; margin-left: 0%;">
        <div class="card-header">Edit New Health Center</div>
        <div class="card-body text-primary">
            <h4 class="card-title">Fill Center Details</h4>
            <form  name="addservice" ng-submit="vm.editcenter()">
                <div class="form-group">
                    <label class="col-form-label" for="orgname">Names</label>
                    <input type="text" name="orgname" class="form-control" placeholder="Name of organisation" id="orgname" autocomplete="text" ng-model="vm.orgname" >
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="contactperson">Contact person</label>
                    <input type="text" class="form-control" placeholder="Contact Person" id="contactperson" ng-model="vm.contactperson" autocomplete="text" required ng-required="true">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="phone">Contact Number</label>
                    <input type="tel" class="form-control" placeholder="Station contact number" id="phone" required ng-model="vm.phone">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="email">Contact email</label>
                    <input type="email" class="form-control" placeholder="Email Address" id="email" required ng-model="vm.email" >
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="address">Physical Address</label>
                    <input type="text" class="form-control" placeholder="Physical address information " id="address" required ng-model="vm.address" >
                </div>
                <!--<div class="form-group">-->
                <!--<label for="logo">Logo/image</label>-->
                <!--<input type="file" class="form-control-file" id="logo" ng-model="logo" aria-describedby="fileHelp">-->
                <!--<small id="fileHelp" class="form-text text-muted"> Attach an image that represents this organisation</small>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="description">About the organisation</label>
                    <textarea class="form-control" id="description" rows="3" ng-model="vm.description" required></textarea>
                    <small id="emailHelp" class="form-text text-muted">Enter the details of the service providers</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>